
<nav class="navbar navbar-expand-lg navbar-custom" [hidden]="!displayingMenu">

  <div class="container" >
    <a class="navbar-brand mr-auto pl-1" href="home">REPUBLICQ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto"> <!-- mx-auto para alinhar ao centro -->
        <li class="nav-item active">
          <a class="nav-link" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contato">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="sobreNos">Sobre nós</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-2"> <!-- ml-2 para espaçamento à direita -->

        <div *ngIf="!isLoged">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" >
              <a class="nav-link" href="login" >Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="registro" >Registra-se</a>
            </li>
          </ul>
        </div>

        <div *ngIf="isLoged">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" >
              <p-menubar [model]="items"></p-menubar>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:;" (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>



      </ul>
    </div>
  </div>

  <hr class="my-3">
