<div class="d-flex justify-content-center align-items-center">
  <h1>LISTA DOS INTERESSADOS</h1>
</div>
<div class="d-flex justify-content-center">
  <p-dataView [value]="contacts" layout="list" class="mt-4">
    <ng-template let-contact pTemplate="listItem">
      <div class="card p-4 mb-4 w-100">
        <div class="d-flex justify-content-center align-items-center">
          <i class="fas fa-user-circle fa-5x text-secondary"></i> <!-- Ícone de usuário -->
        </div>
        <div class="d-flex flex-column align-items-center mt-3">
          <div class="text-2xl font-bold text-900 mb-2">{{ contact.nome}}</div>
          <div class="d-flex flex-column align-items-center gap-2">
            <span class="font-semibold">Dados de contato:</span>
            <span>{{contact.name}}</span>
            <span>
              <a class="nav-link text-primary" [href]="'https://wa.me/55' + contact.telefone +'?text=' + 'Ol%25C3%25A1%252C%2520tudo%2520bem%253F%250ASou%2520propriet%25C3%25A1rio%2520de%2520um%2520imov%25C3%25A9l%2520do%2520site%2520RepublicQ.%2520%250AVi%2520que%2520voc%25C3%25AA%2520demonstrou%2520interesse%2520na%2520minha%2520moradia!%250AVamos%2520conversar%253F%250A(link%2520da%2520moradia)'">
                {{ contact.telefone }}
              </a>
            </span>

            <span>{{ contact.email }}</span>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
