<div class="d-flex justify-content-center align-items-center flex-column">
  <div class="card p-4 mb-4 w-75">
    <h1 class="text-center">Sobre nós</h1>
    <br>
    <p>
      Bem-vindo à nossa plataforma de moradias com foco em estudantes!
      <br><br>
      Somos um time de estudantes apaixonados por tecnologia e comprometidos em solucionar desafios reais enfrentados por nossos colegas do IFSP. No último semestre do curso, durante a disciplina de Projeto de Sistemas com a orientação da professora Cristine, unimos forças para criar esta aplicação.
      <br><br>
      Conheça nossa equipe:
      <br><br>
      - <strong>Weslley</strong> - Responsável pelo desenvolvimento web, com ampla experiência fullstack e foco na área de tecnologia, especialmente em desenvolvimento Java.
      <br>
      - <strong>Luan</strong> - Encarregado do desenvolvimento mobile e também atua como fullstack, trazendo sua expertise em desenvolvimento web e mobile para a equipe.
      <br>
      - <strong>Raul</strong> - Responsável por subir os serviços para a nuvem, testar o código e gerenciar a infraestrutura. Seu conhecimento em infraestrutura tecnológica é fundamental para o funcionamento eficiente de nossa plataforma.
      <br><br>
      A motivação para a criação deste site surgiu da experiência pessoal de Weslley, um estudante que enfrentou dificuldades ao procurar moradia em Araraquara, vindo de outra cidade para cursar a faculdade. Decidimos agir e desenvolvemos esta aplicação para facilitar a busca por moradias para estudantes como nós.
      <br><br>
      Nossa missão é proporcionar uma experiência ágil e eficiente na busca por moradias, ajudando estudantes do IFSP Araraquara a encontrar um lar confortável durante sua jornada acadêmica.
      <br><br>
      Explore nossa plataforma e aproveite para encontrar a moradia ideal para você!
    </p>
  </div>
</div>
