<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="listar-residencias.component.css">
    <title>ListarResidencias</title>

</head>
<body>
    <div class="container">
        <div class="toolbar">
            <h2>TheRepubliQ</h2>
            <br><br>
            <div class="toolbar-buttons">
                
                <a href="HomePage.html" class="back-button">&#8592;</a>
                <a href="AlterarPefil.html" class="toolbar-button">Alterar Perfil</a>
            </div>
            <div class="search-bar">
                <input type="text" class="search-input" placeholder="Pesquisar...">
            </div>
        </div>
        <div class="header">
            <h1>Lista de Residências</h1>
            <br>
        </div>
        
        <div class="list-item">
            <table style="width: 100%;">
                <tr>
                    <td>
                        <img src="star.png" alt="Editar" class="edit-icon">
                    </td>
                    <td>
                        <h2 class="item-title">Residência 1</h2>
                    </td>
                    <td>
                        <h4 for="Habilitar">Habilitar<input type="checkbox" class="checkbox"></h4>
                    </td>
                </tr>
            </table>
        </div>


        <!-- Botão com o símbolo de "Mais" -->
        <a href="RegistrarMoradia.html" class="add-button">+</a>
    </div>
    <footer>
        Instituto Federal de Educação, Ciência e Tecnologia de São Paulo, Campus Araraquara<br>
        Email para contato: luan.freitas.@aluno.ifsp.br
    </footer>
</body>
</html>
