<p-dataView [value]="homes" layout="list">
  <ng-template pTemplate="header">
    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
  </ng-template>

  <ng-template let-home pTemplate="listItem">
    <div class="col-12">
    <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
        <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round"
          src="https://imagens.ebc.com.br/216Ha7Et_wJ84tZI9gnRedUTcHw=/1100x370/smart/https://memoria.ebc.com.br/sites/_portalebc2014/files/atoms_image/moradia-popular.jpg">
        <div
          class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
          <div class="flex flex-column align-items-center sm:align-items-start gap-3">
            <div class="text-2xl font-bold text-900">{{ home.descr }}</div>
            <div class="flex align-items-center gap-3">
              <span class="font-semibold">{{ home.tipo }}</span>
              <br>
              <span>{{'Local: ' + home.endereco.cidade + ", " + home.endereco.bairro + ", " +
                home.endereco.rua + " - " + home.endereco.estado }}</span>
            </div>
          </div>
          <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
            <span class="text-2xl font-semibold">{{ 'R$' + home.preco }}</span>
            <button pButton icon="pi pi-shopping-cart"
              class="md:align-self-end mb-2 p-button-rounded" (click)="homeView(home.id)">Visualizar</button>
          </div>
        </div>
      </div>
    </div>


  </ng-template>

  <ng-template let-home pTemplate="gridItem">
    <div class=" flex-direction: row">
      <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
        <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round"
          src="https://imagens.ebc.com.br/216Ha7Et_wJ84tZI9gnRedUTcHw=/1100x370/smart/https://memoria.ebc.com.br/sites/_portalebc2014/files/atoms_image/moradia-popular.jpg">
        <div
          class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
          <div class="flex flex-column align-items-center sm:align-items-start gap-3">
            <div class="text-2xl font-bold text-900">{{ home.descr }}</div>
            <div class="flex align-items-center gap-3">
              <span class="font-semibold">{{ home.tipo }}</span>
              <br>
              <span>{{'Local: ' + home.cidade + ", " + home.bairro + ", " + home.rua + " - " + home.estado }}</span>
            </div>
          </div>
          <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
            <span class="text-2xl font-semibold">{{ 'R$' + home.preco }}</span>
            <button pButton icon="pi pi-shopping-cart"
              class="md:align-self-end mb-2 p-button-rounded">Visualizar</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>


</p-dataView>
