<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="home.component.css">
    <title>TheRepubliQ</title>
</head>


<body>

    <div class="container">
        <div class="toolbar">
            <h1>TheRepubliQ</h1>
            <br><br> 
            <div class="toolbar-buttons">
                <br>
                <a href="Login.html" class="back-button">&#8592;</a>
                <a href="AlterarPefil.html" class="toolbar-button">Alterar Perfil</a>
                <a href="ListarResidencias.html" class="toolbar-button">Listar Moradias</a>
            </div>
            <div class="search-bar">
                <input type="text" class="search-input" placeholder="Pesquisar...">
            </div>
        </div>
    
        <br><br>

        <table class="item-table">
            <tr>
                <td>
                    <img src="" alt="Imagem" class="item-image">
                </td>
                <td>
                    <h2 class="item-title">Nome</h2>
                    <h2 class="item-price">Preço</h2>
                    <a href="#" class="view-button">Visualizar</a>
                </td>
            </tr>
        </table>
    </div>
    <footer>
        Instituto Federal de Educação, Ciência e Tecnologia de São Paulo, Campus Araraquara<br>
        Email para contato: luan.freitas.@aluno.ifsp.br
    </footer>

</body>

</html>
